# NeonDB / PostgreSQL Connection URL
# Replace with your actual NeonDB connection string from neon.tech (e.g., postgresql://username:password@ep-cool-xyz.us-east-2.aws.neon.tech/foodmart?sslmode=require)
DATABASE_URL="postgresql://neondb_owner:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Secret for Secure Server Session Tokens (Zero Data Leaks)
JWT_SECRET="foodmart_super_secure_jwt_secret_key_2026_x89f"

# Admin Email Address
ADMIN_EMAIL="ay8880625@gmail.com"

# Next Public Config
NEXT_PUBLIC_APP_NAME="FOOD MART"
